<section>
  <div>
    <h1 class="text-center fw-bolder mt-5">Here Are The Perfect Plants For You!</h1>
  </div>
  <div class="results row m-5 px-3 justify-content-evenly">
    {{#each results as |plant|}}
      <div class="card col-md3 mb-5" id="plantCards" style="width: 25rem;">
        <div class="card-body text-center">
          <h4 class="card-title pb-2 fw-bold">{{plant.plant_name}}</h4>
          <img
            class="card-img-top"
            src="{{plant.image}}"
            alt="Card image cap"
          />
          <div class="py-3">
            <p class="card-text">
              <div class="pb-1">
                <span class="fw-bold">Watering Schedule:
                </span>{{plant.watering_schedule}}
              </div>
              <br />
              <div class="pb-1">
                <span class="fw-bold">Description</span>
                <br />
                {{plant.description}}
              </div>
            </p>
            <button
              id="{{plant.id}}"
              type="button"
              class="save-plant btn btn-success"
            >Save This Plant</button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</section>

<script src="/js/search-results.js"></script>